@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Racing+Sans+One&family=Roboto&display=swap');

body,html{
    margin: 0;
    padding: 0;
}
.Blog__layout{
    display: flex;
    flex-direction: row;
    margin: 0 125px;
}
.Blog__item{
    border: 1px solid black;
    position: relative;
    margin-top: 80px;
}
.Blog__item--col1{
    flex: 1.5;
    font-size: 20px;
    font-family: roboto;
}
.Blog__item--col2{
    flex: 4;
    margin-left: 32px;
    height: vh;
}
.Blog__item--col2header{
    height: 112px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    line-height: 112px;
    font-family: montserrat;
}
.Blog__item--col2main{
    padding: 0 10px;
}
.Blog__item--col1header{
 height: 112px;
 text-align: center;
 font-size: 32px;
 font-family: montserrat;
 font-weight: bold;
 line-height: 112px;
}
.Blog__col1--heading1{
    padding: 5px;
    font-size: 20px;
    margin-bottom: 16px;
}
.Blog__col1--heading2{
    padding-left: 20px;
    margin-bottom: 16px;
}
.Blog__col1--heading3{
    padding-left: 15px;
    font-size: 20px;
}
 .Blog--textdecoration{
    color: black;
    text-decoration: none;
 }
 .Blog__item--col1main{
     font-size: 20px;
     font-family: 'roboto';
 }
.text--decoration{
    color: black;
}

/* responsive */
@media only screen and (max-width: 600px){
    .Blog__item--col1header{
        font-size: 14px;
        height: 50px;
        line-height: 50px;
        
    }
    .Blog__item--col2header{
        font-size: 14px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        
    }
    .Blog__layout{
        margin: 0 20px;
        flex-direction: column;
    }
    .Blog__col1--heading1{
        font-size: 12px;
    }
    .Blog__item--col2{
        margin-top: 20px;
        margin-left: 5px;
        margin-right: 5px;
        /* margin: 0 10px; */
    }
    .Blog__item--col1{
        margin-top: 50px;
        margin-left: 5px;
        margin-right: 5px;
        /* margin: 0 10px; */
    }
    
    .blog__item--col1main{
        padding-top: 5px;

    }
    .Blog__col1--heading3{
        font-size: 12px ;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px){
    .Blog__item--col1header{
        font-size: 14px;
    }
    .Blog__item--col2header{
        font-size: 14px;
    }
    .Blog__layout{
        margin: 0 20px;
    }
    .Blog__col1--heading1{
        font-size: 12px;
    }
    .Blog__item--col2{
        margin-left: 10px;
    }
    .Blog__item{
        margin-top: 50px;
    }
    .Blog__col1--heading3{
        font-size: 12px ;
    }
}

/* Medium devices (landscape tablets, 768px and up */
@media only screen and (min-width: 768px){
    .Blog__item--col1header{
        font-size: 18px;
    }
    .Blog__item--col2header{
        font-size: 18px;
    }
    .Blog__layout{
        margin: 0 30px;
    }
    .Blog__col1--heading1{
        font-size: 14px;
    }
    .Blog__item--col2{
        margin-left: 10px;
    }
    .Blog__item{
        margin-top: 60px;
    }
    .Blog__col1--heading3{
        font-size: 14px ;
    }
}

/* Large devices (laptops/desktops, 992px and up */
@media only screen and (min-width: 992px){
    .Blog__item--col1header{
        font-size: 22px;
    }
    .Blog__item--col2header{
        font-size: 22px;
    }
    .Blog__layout{
        margin: 0 40px;
    }
    .Blog__col1--heading1{
        font-size: 16px;
    }
    .Blog__item--col2{
        margin-left: 22px;
    }
    .Blog__item{
        margin-top: 70px;
    }
    .Blog__col1--heading3{
        font-size: 16px ;
    }
}

/* Extra large devices (Large desktops and laptops, 1200px and up) */
@media only screen and (min-width: 1200px){
    .Blog__item--col1header{
        font-size: 24px;
    }
    .Blog__item--col2header{
        font-size: 22px;
    }
    .Blog__layout{
        margin: 0 125px;
    }
    .Blog__col1--heading1{
        font-size: 18px;
    }
    .Blog__item--col2{
        margin-left: 22px;
    }
    .Blog__item{
        margin-top: 80px;
    }
}
@media only screen and (min-width: 1500px){
    .Blog__item--col1header{
        font-size: 32px;
    }
    .Blog__item--col2header{
        font-size: 32px;
    }
    .Blog__layout{
        margin: 0 125px;
    }
    .Blog__col1--heading1{
        font-size: 20px;
    }
    .Blog__item--col2{
        margin-left: 22px;
    }
    .Blog__item{
        margin-top: 80px;
    }
}
/* @media only screen and (max-width: 411px){
    .Blog__item--col1header{
        font-size: 7px;
    }
    .Blog__item--col2header{
        font-size: 7px;
    }
} */