@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Racing+Sans+One&family=Roboto&display=swap');

body,html{
    margin: 0;
    padding: 0;
}
.website{
    background-color: black;
}
.container{
    margin-bottom: 50px;
}
.hoantat--top{
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    position: relative;
    margin-top: 100px;
}
.hoantat__top--flex .icons{
    display: flex;
    justify-content: center;
}
.hoantat__top{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 37px;
}
.hoantat__top--item--1{
    margin-bottom: 25px;
}
.hoantat__top--item{
    display: flex;
    justify-content:space-around;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-top: 15px;
}
.hoantat__top--circle {
    border-radius: 50px;
    background: #C6C6C6;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    background-color: rgba(18, 201, 47, 1);
}
.hoantat__top--circle--2{
    background-color:  rgba(18, 201, 47, 1);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-top: -10px;
}
.icon{
    padding-top: 10px;
    /* justify-content: center; */
}
.item1{
    margin-left: 2%;
}
.item2{
    margin-left: 10%;
}
.item3{
    margin-left: 10%;
}
svg{
    margin-top: 13px;
}
.hoantat__body{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: 'Roboto', sans-serif;
}
.hoantat__body--left, .hoantat__body--right{
    
    background-color: white;
    font-size: 18px;
    font-weight: normal;
    padding-left: 15px;
    padding-bottom: 20px;

}
.hoantat__body--left{
    width: 50%;
    justify-content: center;
    padding-top: 10px;
}
.label--flex{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;

}
.title{
    color: black;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;

}
.title--1,.title--3{
    font-size: 22px;
}
.title--2{
    font-size: 20px;
    margin-bottom: 10px;
}
.line{
    margin-left: -2%;
    margin-top: 7px;
    margin-bottom: 7px;
}
.hoantat__label{
    width: 35%;
    font-weight: normal;
}
.hoantat__label--2{
    width: 55%;

}
.hoantat__label--right{
    width: 40%;
}
.hoantat__label--12{
    width: 55%;
}
.hoantat__label--10, .hoantat__label--26{
    font-weight: bold;
}
.hoantat__label--20{
    color:rgba(18, 201, 47, 1);
    font-weight: bold;
}
.note{
    font-size: 15px;
    font-style: italic;
    margin-right: 5px;
}
.hoantat__body--right{
    width: 50%;
    margin-left: 5%;
    padding-top: 10px;
    justify-content: center;
}
.hoantat__button--flex{
    text-align: center;

}
.button{
    width: 25%;
    border-radius: 5px;
    background-color: #F2C806;
    color: white;
    border-color: rgba(196, 196, 196, 1);
}
.button--1{
    background-color: #C4C4C4;
    border: none;

}
.button--2{
    margin-left: 15px;
    margin-top: 10px;
    border: none;
}
@media only screen and (max-width: 600px) 
{
    .hoantat--top{
        font-size: 18px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 50px;
    }
    svg{
        margin-top: 13px;
        width: 120px;
        height: 6px ;
    }
    .icon{
        padding-top: 7px;
    }
    .hoantat__top--circle{
        border-radius: 40px;
        width: 35px;
        height: 35px;
        margin-top: 0px;
        background-color: rgba(18, 201, 47, 1);
    }
    .hoantat__top--circle--2{
        background-color:  rgba(18, 201, 47, 1);
        border-radius: 40px;
        width: 35px;
        height: 35px;
        margin-top: 0px;
    }
    .hoantat__top--item{
        display: flex;
        justify-content:space-around;
        font-size: 13px;
        line-height: 27px;
        margin-left: -10%;
        margin-top: 0px;
        width: 120%;
    }
    .hoantat__top--item--1{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .hoantat__body{
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 30px;
    }
    .hoantat__body--left, .hoantat__body--right{       
        font-size: 12px;
        padding-left: 15px;
        padding-bottom: 20px;
    
    }
    .hoantat__body--left{
        width: 90%;
        justify-content: center;
        padding-top: 10px;
        margin-left: 5%;
        margin-top: 20px;
    }
    .label--flex{
        display: flex;
    
    }
    
    .title--1,.title--3{
        font-size: 15px;
    }
    .title--2{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .line{
        margin-left: -2%;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .hoantat__label{
        width: 35%;
    }
    .hoantat__label--2{
        width: 45%;
    
    }
    .hoantat__label--right{
        width: 40%;
    }
    .hoantat__label--12{
        width: 55%;
    }
    .hoantat__label--10, .hoantat__label--26{
        font-weight: bold;
    }
    .hoantat__label--20{
        font-weight: bold;
    }
    .note{
        font-size: 12px;
        margin-right: 5px;
    }
    .hoantat__body--right{
        width: 90%;
        margin-top: 15px;
        margin-left: 5%;
        padding-top: 10px;
        justify-content: center;
    }
    .hoantat__button--flex{
        text-align: center;
    
    }
    .button{
        width: 25%;
        margin-left: -3%;
       
    }
    .button--2{
        margin-left: 15px;
        margin-top: 10px;
    }
}
@media only screen and (min-width: 600px) {
    .hoantat--top{
        font-size: 18px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 50px;
    }
    svg{
        justify-content: center;
        margin-top: 13px;
        width: 160px;
        height: 6px ;
    }
    .icon{
        padding-top: 7px;
    }  
    .hoantat__top--circle{
        border-radius: 40px;
        width: 35px;
        height: 35px;
        margin-top: 0px;
        background-color: rgba(18, 201, 47, 1);
    }
    .hoantat__top--circle--2{
        background-color:  rgba(18, 201, 47, 1);
        border-radius: 40px;
        width: 35px;
        height: 35px;
        margin-top: 0px;
    }
    .hoantat__top--item{
        display: flex;
        justify-content:space-around;
        width: 120%;
        font-size: 13px;
        line-height: 27px;
        margin-left: -10%;
        margin-top: 0px;
    }
    .hoantat__top--item--1{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .hoantat__body{
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 30px;
    }
    .hoantat__body--left, .hoantat__body--right{       
        font-size: 15px;
        padding-left: 15px;
        padding-bottom: 20px;
    
    }
    .hoantat__body--left{
        width: 90%;
        justify-content: center;
        padding-top: 10px;
        margin-left: 5%;
        margin-top: 20px;
    }
    .label--flex{
        display: flex;
    
    }
    
    .title--1,.title--3{
        font-size: 18px;
    }
    .title--2{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .line{
        margin-left: -2%;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .hoantat__label{
        width: 35%;
    }
    .chothanhtoan__label--2{
        width: 45%;
    
    }
    .hoantat__label--right{
        width: 40%;
    }
    .hoantat__label--12{
        width: 55%;
    }
    .hoantat__label--10, .hoantat__label--26{
        font-weight: bold;
    }
    .note{
        font-size: 15px;
        margin-right: 5px;
    }
    .hoantat__body--right{
        width: 90%;
        margin-left: 5%;
        padding-top: 10px;
        justify-content: center;
    }
    .hoantat__button--flex{
        text-align: center;
    
    }
    .button{
        width: 25%;
        margin-left: -3%;
        font-size: 18px;
       
    }
    .button--2{
        margin-left: 15px;
        margin-top: 10px;
    }
}
@media only screen and (min-width: 768px) {
    .hoantat--top{
        font-size: 18px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 70px;
    }
    svg{
        margin-top: 13px;
        width: 210px;
        height: 6px ;
    }
    .icon{
        padding-top: 7px;
    }
    .hoantat__top--circle{
        border-radius: 40px;
        width: 35px;
        height: 35px;
        margin-top: 0px;
        background-color: rgba(18, 201, 47, 1);
    }
   
    .hoantat__top--circle--2{
        background-color:  rgba(18, 201, 47, 1);
        border-radius: 40px;
        width: 35px;
        height: 35px;
        margin-top: 0px;
    }
    .hoantat__top--item{
        display: flex;
        justify-content:space-around;
        width: 120%;
        font-size: 13px;
        line-height: 27px;
        margin-left: 10%;
        margin-right: 10%;
        margin-left: -10%;
        margin-top: 0px;
    }
    .hoantat__top--item--1{
        font-size: 20px;
    }
    .hoantat__body{
        flex-direction: column-reverse;
        justify-content: center;
        margin-top: 30px;
    }
    .hoantat__body--left, .hoantat__body--right{       
        font-size: 17px;
        padding-left: 15px;
        padding-bottom: 20px;
    
    }
    .hoantat__body--left{
        width: 90%;
        justify-content: center;
        padding-top: 10px;
        margin-left: 5%;
        margin-top: 30px;
    }
    .label--flex{
        display: flex;
    
    }
    
    .title--1,.title--3{
        font-size: 20px;
    }
    .title--2{
        font-size: 17px;
        margin-bottom: 10px;
    }
    .line{
        margin-left: -2%;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .hoantat__label{
        width: 35%;
    }
    .hoantat__label--2{
        width: 45%;
    
    }
    .hoantat__label--right{
        width: 40%;
    }
    .hoantat__label--12{
        width: 55%;
    }
    .hoantat__label--10, .hoantat__label--26{
        font-weight: bold;
    }
    .note{
        font-size: 17px;
        margin-right: 5px;
    }
    .hoantat__body--right{
        width: 90%;
        margin-left: 5%;
        padding-top: 10px;
        justify-content: center;
    }
    .hoantat__button--flex{
        text-align: center;
    
    }
    .button{
        width: 25%;
        margin-left: -3%;
        font-size: 20px;
       
    }
    .button--2{
        margin-left: 15px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 992px){
    .hoantat--top{
        font-size: 22px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 100px;
    }
    svg{
        margin-top: 13px;
        width: 265px;
        height: 6px ;
    }
    .icon{
        padding-top: 12px;
    }
    .hoantat__top--circle{
        border-radius: 50px;
        width: 50px;
        height: 50px;
        margin-top: -10px;
        background-color: rgba(18, 201, 47, 1);
    }
   
    .hoantat__top--circle--2{
        background-color:  rgba(18, 201, 47, 1);
        border-radius: 50px;
        width: 50px;
        height: 50px;
        margin-top: -10px;
    }
    .hoantat__top--item{
        display: flex;
        justify-content:space-around;
        width: 120%;
        font-size: 20px;
        line-height: 27px;
        margin-left: 10%;
        margin-right: 10%;
        margin-left: -10%;
        margin-top: 10px;
    }  
    .hoantat__top--item--1{
        font-size: 23px;
        margin-bottom: 30px;
    }
    .hoantat__body{
        flex-direction: row;
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .hoantat__body--left, .hoantat__body--right{       
        font-size: 16px;
        padding-left: 15px;
        padding-bottom: 20px;    
    }
    .hoantat__body--left{
        width: 50%;
        justify-content: center;
        padding-top: 10px;
        margin-top: 0%;
        margin-left: 0%;
    }
    .label--flex{
        display: flex;
    
    }   
    .title--1,.title--3{
        font-size: 20px;
    }
    .title--2{
        font-size: 17px;
        margin-bottom: 10px;
    }
    .line{
        margin-left: -2%;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .hoantat__label{
        width: 35%;
    }
    .hoantat__label--2{
        width: 45%;
    
    }
    .hoantat_label--right{
        width: 40%;
    }
    .hoantat__label--12{
        width: 60%;
    }
    .hoantat__label--10, .hoantat__label--26{
        font-weight: bold;
    }
    .note{
        font-size: 15px;
        margin-right: 5px;
    }
    .hoantat__body--right{
        width: 50%;
        margin-left: 3%;
        padding-top: 10px;
        justify-content: center;
    }
    .hoantat__button--flex{
        text-align: center;
    
    }
    .button{
        width: 30%;      
    }
    .button--2{
        margin-left: 15px;
        margin-top: 10px;
    }
}
@media screen and (min-width: 1200px){
    .hoantat--top{
        font-size: 22px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 100px;
    }
    svg{
        margin-top: 13px;
        width: 340px;
        height: 6px ;
    }
    .icon{
        padding-top: 12px;
    }
    .hoantat__top--circle{
        border-radius: 50px;
        width: 50px;
        height: 50px;
        margin-top: -10px;
        background-color: rgba(18, 201, 47, 1);
    }
   
    .hoantat__top--circle--2{
        background-color:  rgba(18, 201, 47, 1);
        border-radius: 50px;
        width: 50px;
        height: 50px;
        margin-top: -10px;
    }
    .hoantat__top--item{
        display: flex;
        justify-content:space-around;
        width: 120%;
        font-size: 20px;
        line-height: 27px;
        margin-left: 10%;
        margin-right: 10%;
        margin-left: -10%;
        margin-top: 10px;
    }  
    .hoantat__top--item--1{
        font-size: 23px;
        margin-bottom: 30px;
    }
    .hoantat__body{
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    .hoantat__body--left, .hoantat__body--right{       
        font-size: 18px;
        padding-left: 15px;
        padding-bottom: 20px;
    
    }
    .hoantat__body--left{
        width: 50%;
        justify-content: center;
        padding-top: 10px;
    }
    .label--flex{
        display: flex;
    
    }
    .title--1,.title--3{
        font-size: 22px;
    }
    .title--2{
        font-size: 18px;
        margin-bottom: 10px;
    }
    .line{
        margin-left: -2%;
        margin-top: 7px;
        margin-bottom: 7px;
    }
    .hoantat__label{
        width: 35%;
        font-weight: normal;
    }
    .hoantat__label--2{
        width: 45%;
    }
 
    .hoantat__label--right{
        width: 40%;
    }
    .hoantat__label--12{
        width: 55%;
    }
    .hoantat__label--10, .hoantat__label--26, .hoantat__label--20{
        font-weight: bold;
    }
    .note{
        font-size: 17px;
        margin-right: 5px;
    }
    .hoantat__body--right{
        width: 50%;
        margin-left: 5%;
        padding-top: 10px;
        justify-content: center;
    }
    .hoantat__button--flex{
        text-align: center;    
    }
    .button{
        width: 30%;
        font-size: 22px;
       
    }
    .button--2{
        margin-left: 15px;
        margin-top: 10px;
    }
}
