
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Racing+Sans+One&family=Roboto&display=swap');
html, body{
    margin: 0;
    padding: 0;
}
.background{
    background-color: black;
}
.ChuChoThue--Banner{
    width: 100%;
}
.ChuChoThue--Container{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 50px;
    background-color: black;
}
.ChuChoThue--Title{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: white;
}
.ChuChoThue--Container__1{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ChuChoThue--Product{
    margin: 24px;
    flex: 20%;
    max-width: 20%;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.ChuChoThue--Container__Image{
    margin: 16px;
    flex: 100%;
    max-width: 100%;
}
.ChuChoThue--Product__Image{
    border-radius: 5px;
    object-fit: contain;
    max-width: 100%;
}
.ChuChoThue--Product__Title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.ChuChoThue--Product__Price{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 24px;
}
input[type=button]{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #F2C806;
    width: 140px;
    height: 44px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: 0px;
}
.ChuChoThue--Product__Seemore{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 26px;
    text-align: center;
    color: white;
}

/* Extra small devices (600px, phone and down) */
@media only screen and (max-width: 600px) {
    .ChuChoThue--Product{
        flex: 100%;
        max-width: 100%;
    }
    .ChuChoThue--Container{
        margin-left: 20%;
        margin-right: 20%;
    }
    
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .ChuChoThue--Product{
        flex: 50%;
        max-width: 50%;
    }
}
/* Medium devices (landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {
    .ChuChoThue--Product{
        flex: 33%;
        max-width: 33%;
    }
}
/* Large devices (laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {
    .ChuChoThue--Product{
        flex: 25%;
        max-width: 25%;
    }
}
/* Extra large devices (Large desktops and laptops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .ChuChoThue--Product{
        flex: 20%;
        max-width: 20%;
    }
}

