
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Racing+Sans+One&family=Roboto&display=swap');
html, body{
    margin: 0;
    padding: 0;
}
.background{
    background-color: black;
}
.ChuChoThue--Banner{
    width: 100%;
}
.ChuChoThue--Container{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 50px;
    background-color: black;
}
.ChuChoThue--Title{
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
    color: white;
}
.ChuChoThue--Container__1{
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.ChuChoThue--Product{
    margin: 24px;
    flex: 20%;
    max-width: 20%;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.ChuChoThue--Container__Image{
    margin: 16px;
    flex: 100%;
    max-width: 100%;
}
.ChuChoThue--Product__Image{
    border-radius: 5px;
    object-fit: contain;
    max-width: 100%;
}
.ChuChoThue--Product__Title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.ChuChoThue--Product__Price{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin-bottom: 24px;
}
input[type=button]{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 20px;
    background-color: #F2C806;
    width: 140px;
    height: 44px;
    margin-bottom: 24px;
    border-radius: 5px;
    border: 0px;
}
.ChuChoThue--Product__Seemore{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 26px;
    text-align: center;
    color: white;
}
.Page__Header--Container{
    background-color: #242426;
    width: 100%;
    max-height: 112px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    position: fixed;
}
.Page__Header--Tach{
    flex: 14.3%;
    max-width: 14.3%;
    font-family: 'Racing Sans One', cursive;
    font-size: 18px;
    font-weight: bold;
    color: white;
    padding: 20px;
}
.Page__Header--Search{
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    padding: 8px 8px 8px 24px;
    z-index: 1;
}
.Page__Header--Icon{
    position: relative;
    display: flex;
    align-items: center;
    
}
.Page__Header--Icon2{
    position: absolute;
    z-index: 2;
    margin-right: -20px;
    font-size: 15px;
}
.Page__Header--Title{
    flex: 14.3%;
    max-width: 14.3%;
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 18px;
}

.contact {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    background-color: #242426;
    color: white;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.contact .left-contact {
    flex: 20%;
    text-align: left;
    margin-left: 50px;
}

.contact .middle-contact {
    flex: 60%;
}
.contact .right-contact {
    flex: 20%;
    text-align: left;
    margin-left: 50px;
}
.right-contact{
    color: #FFFFFF;
    font-size: 16px;
}
.contact__container--icon{
    position: relative;
    display: flex;
    align-items: center;
}
.contact__container--icon0{
    position: absolute;
    margin: 0px;
    max-width: 100%;
}
.contact__container--icon2{
    object-fit: contain;
    max-width: 50%;
}
.contact__container--icon3{
    padding-left: 25px;
}
/* Extra small devices (600px, phone and down) */
@media only screen and (max-width: 600px) {
    .ChuChoThue--Product{
        flex: 100%;
        max-width: 100%;
    }
    .ChuChoThue--Container{
        margin-left: 20%;
        margin-right: 20%;
    }
    .Page__Header--Tach{
        font-size: 8px;
        padding: 6px;
    }
    .Page__Header--Title{
        font-size: 8px;
        padding: 8px;
    }
    .Page__Header--Search{
        width: 100%;
        padding: 4px 4px 4px 16px;
        font-size: 8px;
    }
    .Page__Header--Icon2{
        font-size: 9px;
        margin-right: -14px;
    }
    .contact .left-contact{
        flex: 45%;
    }
    .contact .middle-contact {
        flex: 10%;
    }
    .contact .right-contact {
        flex: 45%;
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .ChuChoThue--Product{
        flex: 50%;
        max-width: 50%;
    }
    .Page__Header--Tach{
        font-size: 12px;
        padding: 6px;
    }
    .Page__Header--Title{
        font-size: 10px;
        padding: 8px;
    }
    .Page__Header--Search{
        width: 100%;
        padding: 4px 4px 4px 18px;
        font-size: 10px;
    }
    .Page__Header--Icon2{
        font-size: 10px;
        margin-right: -15px;
    }
    .contact .left-contact{
        flex: 40%;
    }
    .contact .middle-contact {
        flex: 20%;
    }
    .contact .right-contact {
        flex: 40%;
    }
}
/* Medium devices (landscape tablets, 768px and up */
@media only screen and (min-width: 768px) {
    .ChuChoThue--Product{
        flex: 33%;
        max-width: 33%;
    }
    .Page__Header--Tach{
        font-size: 16px;
        padding: 8px;
    }
    .Page__Header--Title{
        font-size: 12px;
        padding: 10px;
    }
    .Page__Header--Search{
        width: 100%;
        padding: 6px 6px 6px 20px;
        font-size: 12px;
    }
    .Page__Header--Icon2{
        font-size: 12px;
        margin-right: -18px;
    }
    .contact .left-contact{
        flex: 30%;
    }
    .contact .middle-contact {
        flex: 40%;
    }
    .contact .right-contact {
        flex: 30%;
    }
}
/* Large devices (laptops/desktops, 992px and up */
@media only screen and (min-width: 992px) {
    .ChuChoThue--Product{
        flex: 25%;
        max-width: 25%;
    }
    .Page__Header--Tach{
        font-size: 18px;
        padding: 16px;
    }
    .Page__Header--Title{
        font-size: 14px;
        padding: 14px;
    }
    .Page__Header--Search{
        width: 100%;
        padding: 6px 6px 6px 26px;
        font-size: 14px;
    }
    .Page__Header--Icon2{
        font-size: 14px;
        margin-right: -22px;
    }
    .contact .left-contact{
        flex: 30%;
    }
    .contact .middle-contact {
        flex: 40%;
    }
    .contact .right-contact {
        flex: 30%;
    }
}
/* Extra large devices (Large desktops and laptops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .ChuChoThue--Product{
        flex: 20%;
        max-width: 20%;
    }
    .Page__Header--Tach{
        font-size: 20px;
        padding: 18px;
    }
    .Page__Header--Title{
        font-size: 16px;
        padding: 16px;
    }
    .Page__Header--Search{
        width: 100%;
        padding: 8px 8px 8px 28px;
        font-size: 16px;
    }
    .Page__Header--Icon2{
        font-size: 16px;
        margin-right: -24px;
    }
    .contact .left-contact{
        flex: 20%;
    }
    .contact .middle-contact {
        flex: 60%;
    }
    .contact .right-contact {
        flex: 20%;
    }
}

