@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Racing+Sans+One&family=Roboto&display=swap');
.chupanhbe__header{
    text-align: center;
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.chupanhbe__mainpage{
    padding-left: 80px;
    padding-right: 80px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.chupanhbe__mainpage--images{
    text-align: center;
}
.chupanhbe__mainpage--text{
    margin-top: 16px;
    margin-bottom: 16px;
}
.chupanhbe__mainpage--heading{
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: bold;
}
@media screen and (max-width: 1280px){
    .chupanhbe__header{
        font-size: 24px;
    }
}
@media screen and (max-width: 1110px){
    .chupanhbe__header{
        font-size: 24px;
    }
    .chupanhbe__mainpage{
        padding-left: 60px;
        padding-right: 60px;
    }
}
@media screen and (max-width: 980px){
    .chupanhbe__header{
        font-size: 20px;
    }
    .chupanhbe__mainpage{
        padding-left: 50px;
        padding-right: 50px;
        font-size: 18px;
    }
}
@media screen and (max-width: 870px){
    .chupanhbe__header{
        font-size: 18px;
    }
    .chupanhbe__mainpage{
        padding-left: 50px;
        padding-right: 50px;
        font-size: 18px;
    }
}
@media screen and (max-width: 768px){
    .chupanhbe__header{
        font-size: 16px;
    } 
    .chupanhbe__mainpage{
        padding-left: 40px;
        padding-right: 40px;
        font-size: 16px;
    }
}
@media screen and (max-width: 700px){
    .chupanhbe__header{
        font-size: 14px;
    } 
    .chupanhbe__mainpage{
        padding-left: 30px;
        padding-right: 30px;
        font-size: 14px;
    }
}
@media screen and (max-width: 660px){
    .chupanhbe__header{
        font-size: 14px;
    } 
    .chupanhbe__mainpage{
        padding-left: 20px;
        padding-right: 20px;
        font-size: 14px;
    }
}
@media screen and (max-width: 540px){
    .chupanhbe__header{
        font-size: 12px;
    } 
    .chupanhbe__mainpage{
        padding-left: 10px;
        padding-right: 10px;
        font-size: 12px;
    }
}
@media screen and (max-width: 500px){
    .chupanhbe__header{
        font-size: 10px;
    } 
    .chupanhbe__mainpage{
        padding-left: 0px;
        padding-right: 0px;
        font-size: 10px;
    }
}