html, body{
    margin: 0;
    padding: 0;
}
.background{
    background-color: black;
}
.Page__Header--Container{
    background-color: #242426;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.Page__Header--Container .header__button{
    display: none;
}
.Page__Header--Tach{ 
    font-family: 'Racing Sans One', cursive;
    font-weight: bold;
    color: white;
    font-size: 22px;
}

.Page__Header--Title{
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: 22px;
}

.Page__Header--Title a:hover{
    text-decoration: none;
}

.Page__Header--Title:nth-of-type(4) a{
    color: white;
}

.Page__Header--Container a:nth-of-type(4):hover{
    color: black;
    background-color: white;
}

.Page__Header--Search{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    padding-left: 35px;
    font-size: 20px;
}

.Page__Header--Icon2{
    color: black;
    margin-right: -30px;
}

.Page__Header--Dropdown {
    float: left;
    overflow: hidden;
}
.Page__Header--Dropdown .dropdown__button{    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #242426;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.Page__Header--Dropdown:hover .dropdown__button{
    background-color: black;
    color: white;
}
  
.dropdown__content a:hover {
    background-color: black;
    color: white;
}
  
.Page__Header--Ava > img{
    cursor: pointer;
}

.Page__Header--Container a{
  float: left;
  width: 14.3%;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.Page__Header--Container a:hover {
    background-color: white;
    color: black;
}
.dropdown__content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 2;
}
.dropdown__content a{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
}
.Page__Header--Dropdown:hover .dropdown__content{
    display: block;
}
.page__footer--container {
    display: flex;
    background-color: #242426;
    color: white;
    max-height: 225px;
    width: 100vw;
    padding: 25px 0px;
    position: relative;
    bottom: 0px;
}

.footer__text{
    font-family: 'Roboto', sans-serif;
}

.footer__header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.footer--left {
    flex: 20%;
    margin-left: 50px;
}

.footer--right {
    flex: -5%;
    margin-right: 50px;
}

.footer--right img{
    position: relative;
    margin-right: 7px;
}

.bg-color{
    background-color: black;
}
@media only screen and (max-width: 768px) {
    .Page__Header--Container{
        overflow: hidden;
    }
    .Page__Header--Container .header__button{
        display: none;
    }
    .Page__Header--Container a{
        width: auto;
    }
    .Page__Header--Container a:not(:first-child), .Page__Header--Dropdown .dropdown__button {display: none;}
    .Page__Header--Container a.header__button {
        float: right;
        display: block;
    }
    .footer__text{
        font-size: 6px;
    }

    .footer__header{
        font-size: 8px;
    }

    .footer--right img{
        height: 15px;
    }
}
@media only screen and (max-width: 768px){
    .Page__Header--Container.header--responsive {position: relative;}
    .Page__Header--Container.header--responsive .header__button {
        position: absolute;
        right: 0;
        top: 0;
    }
    .Page__Header--Container.header--responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .Page__Header--Container.header--responsive .Page__Header--Dropdown {float: none;}
    .Page__Header--Container.header--responsive .dropdown__content {position: relative;}
    .Page__Header--Container.header--responsive .Page__Header--Dropdown .dropdown__button {
      display: block;
      width: 100%;
      text-align: left;
    }
}
/* Trống min-width: 600px; Do header chữ nhỏ lắm */
@media only screen and (min-width: 768px) {
    .Page__Header--Tach{
        font-size: 12px;
    }

    .Page__Header--Title{
        font-size: 12px;
    }

    .dropdown__content{
        font-size: 12px;
    }

    .Page__Header--Search{
        padding: 4px 4px 4px 18px;
        font-size: 10px;
        width: 100%;
    }

    .Page__Header--Icon2{
        font-size: 11px;
        margin-right: -20px;
    }

    .Page__Header--Ava > img{
        width: 30px;
    }
    .footer__text{
        font-size: 12px;
    }

    .footer__header{
        font-size: 16px;
    }

    .footer--right img{
        height: 20px;
    }
}

@media only screen and (min-width: 992px) {
    .Page__Header--Container a{
        padding-left: 0;
        padding-right: 0;
    }
    .Page__Header--Tach{
        font-size: 18px;
    }

    .Page__Header--Title{
        font-size: 16px;
    }

    .dropdown__content{
        font-size: 16px;
    }

    .Page__Header--Search{
        padding: 4px 4px 4px 22px;
        font-size: 12px;
        width: 100%;
    }

    .Page__Header--Icon2{
        font-size: 13px;
        margin-right: -22px;
    }

    .Page__Header--Ava > img{
        width: 35px;
    }

    .footer__text{
        font-size: 14px;
    }

    .footer__header{
        font-size: 18px;
    }

    .footer--right img{
        height: 25px;
    }
}

@media only screen and (min-width: 1200px) {
    .Page__Header--Container a{
        padding-left: 0;
        padding-right: 0;
    }
    .Page__Header--Tach{
        font-size: 20px;
    }

    .Page__Header--Title{
        font-size: 18px;
    }

    .dropdown__content{
        font-size: 18px;
    }

    .Page__Header--Search{
        padding: 4px 4px 4px 22px;
        font-size: 14px;
        width: 100%;
    }

    .Page__Header--Icon2{
        font-size: 14px;
        margin-right: -22px;
    }
    .Page__Header--Ava > img{
        width: 40px;
    }

    .footer__text{
        font-size: 14px;
    }

    .footer__header{
        font-size: 18px;
    }

    .footer--right img{
        height: 25px;
    }
}