@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Racing+Sans+One&family=Roboto&display=swap');
html, body{
    margin: 0;
    padding: 0;
}
.background{
    background-color: black;
}
.Page__Header--Container{
    background-color: #242426;
    width: 100%;
    top: 0px;
    position: fixed;
    z-index: 1;
}
.Page__Header--Container .header__button{
    display: none;
}
.Page__Header--Tach{ 
    font-family: 'Racing Sans One', cursive;
    font-weight: bold;
    color: white;
    font-size: 21px;
}
.Page__Header--Login{
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: 20px;
}
.Page__Header--Title{
    color: white;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: 20px;
}
.header__button{
    font-size: 0px;
}
.Page__Header--Search{
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    padding: 5px 5px 5px 35px;
    font-size: 15px;
    color: black;
}
.header__search{
    margin-left: 32px;
    margin-right: 8px;
}
.Page__Header--Icon2{
    color: black;
    margin-right: -30px;
}

.Page__Header--Dropdown {
    float: left;
    overflow: hidden;
    width: 12%;
}
.Page__Header--Dropdown .dropdown__button{    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #242426;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.Page__Header--Dropdown:hover .dropdown__button{
    background-color: #242426;
    color: white;
}
.Page__Header--Container a,.Page__Header--Container div:nth-of-type(2){
  float: left;
  width: 14.3%;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.Page__Header--Container a:not(:nth-of-type(2)):hover, .Page__Header--Container a:not(:nth-of-type(6)):hover {
    background-color: white;
    color: black;
    text-decoration: none;
}
.Page__Header--Container a:nth-of-type(2):hover, .Page__Header--Container a:nth-of-type(6):hover{
    background-color: #242426;
    color: white;
    text-decoration: none;
}
.dropdown__content{
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    z-index: 2;
}
.dropdown__content a:nth-of-type(1):hover, .dropdown__content a:nth-of-type(2):hover,.dropdown__content a:nth-of-type(3):hover{
    background-color: #242426;
    color: white;
}
.dropdown__content a{
    float: none;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
    display: block;
    width: 100%;
    text-align: left;
}
.Page__Header--Dropdown:hover .dropdown__content{
    display: block;
}
.header__vertical  {
    width: 0;
    position: fixed;
    z-index: 2;
    height: 100%;
    background-color: #242426;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 60px;
}
.header__vertical a {
    padding: 8px 8px 8px 32px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: white;
    display: block;
    text-decoration: none;
}
.header__vertical > a:not(:nth-of-type(1)):hover{
    text-decoration: none;
    color: black;
    background-color: white;
}
.header__vertical > a:nth-of-type(1):hover{
    text-decoration: none;
    color: white;
}
.header__vertical .closebtn {
    position: absolute;
    top: 0;
    right: 20px;
    font-size: 36px;
}
.dropdown-btn {
    padding: 6px 8px 6px 32px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    outline: none;
}
.dropdown-btn:hover{
    color: black;
    background-color: white;
}
.dropdown-container {
    display: none;
    background-color: #242424;
    padding-left: 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
}
.dropdown-container a:hover{
    background-color: white;
    color: black;
    text-decoration: none;
}
.page__footer--container {
    display: flex;
    background-color: #242426;
    color: white;
    height: 100%;
    width: 100%;
    padding: 25px 0px;
    position: relative;
    bottom: 0px;
    flex-wrap: wrap;
}

.footer__text{
    font-family: 'Roboto', sans-serif;
}

.footer__header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.footer--left {
    flex: 20%;
    margin-left: 50px;
}

.footer--right {
    flex: -5%;
    margin-right: 50px;
}

.footer--right img{
    position: relative;
    margin-right: 7px;
}

.bg-color{
    background-color: black;
}
@media only screen and (max-width: 600px){
    .footer__text{
        font-size: 14px;
    }

    .footer__header{
        font-size: 13px;
    }

    .footer--right img{
        height: 20px;
    }
    .footer--left {
        flex: 50%;
        margin-left: 30px;
        margin-bottom: 20px;
    }
    
    .footer--right {
        flex: 50%;
        margin-left: 30px;
    }
}
@media only screen and (min-width: 600px){
    .footer__text{
        font-size: 10px;
    }

    .footer__header{
        font-size: 12px;
    }

    .footer--right img{
        height: 18px;
    }
}
@media only screen and (min-width: 768px){
    .footer__text{
        font-size: 12px;
    }

    .footer__header{
        font-size: 16px;
    }

    .footer--right img{
        height: 20px;
    }
}
@media only screen and (max-width: 992px) {
    .Page__Header--Tach{
        font-size: 17px;
    }
    .header__button{
        font-size: 17px;
    }
    .Page__Header--Login{
        font-size: 17px;
    }
    .Page__Header--Container a{
        width: auto;
    }
    .Page__Header--Container a:not(:nth-child(2)), .Page__Header--Dropdown .dropdown__button,.Page__Header--Container div:nth-of-type(2) {display: none;}
    .Page__Header--Container a.header__button {
        float: left;
        display: block;
    }
    .Page__Header--Container a.Page__Header--Login{
        float: right;
        display: block;
    }
    .Page__Header--Container a.Page__Header--Login2{
        float: right;
        display: block;
    }
}
/* Này thêm cái max-width 992 nha!!! Tại kích thước trở lại thì header đều nhỏ á */

@media only screen and (min-width: 992px) {
    .Page__Header--Container a{
        padding-left: 0;
        padding-right: 0;
    }
    .Page__Header--Tach{
        font-size: 19px;
    }

    .Page__Header--Title{
        font-size: 19px;
    }

    .Page__Header--Dropdown{
        font-size: 19px;
    }

    .Page__Header--Search{
        padding: 4px 4px 4px 22px;
        font-size: 12px;
        width: 100%;
    }
    .Page__Header--Login{
        font-size: 19px;
    }
    .Page__Header--Icon2{
        font-size: 13px;
        margin-right: -22px;
    }

    .Page__Header--Ava > img{
        width: 35px;
    }

    .footer__text{
        font-size: 14px;
    }

    .footer__header{
        font-size: 18px;
    }

    .footer--right img{
        height: 25px;
    }
}

@media only screen and (min-width: 1200px) {
    .Page__Header--Container a{
        padding-left: 0;
        padding-right: 0;
    }
    .Page__Header--Ava > img{
        width: 40px;
    }

    .footer__text{
        font-size: 14px;
    }

    .footer__header{
        font-size: 18px;
    }

    .footer--right img{
        height: 25px;
    }
}