@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Racing+Sans+One&family=Roboto&display=swap");

body,
html {
  margin: 0;
  padding: 0;
}
.ThanhToan__background{
  background-color: black;
}
.container {
  margin-bottom: 50px;
}
.ThanhToan--top {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  text-align: center;
  position: relative;
  margin-top: 100px;
}
.ThanhToan__top--flex .ThanhToan__icons {
  display: flex;
  justify-content: center;
}
.ThanhToan__top {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
}
.ThanhToan__top--item1 {
  margin-bottom: 25px;
}
.ThanhToan__top--item{
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-top: 15px;
}
.ThanhToan__top--circle {
  border-radius: 50px;
  background: #c6c6c6;
  width: 50px;
  height: 50px;
  margin-top: -10px;
  background-color: rgba(18, 201, 47, 1);
}
.ThanhToan__top--circle--2 {
  background-color: rgba(196, 196, 196, 1);
  border-radius: 50px;
  width: 50px;
  height: 50px;
  margin-top: -10px;
}
.ThanhToan__icon {
  padding-top: 10px;
}
.ThanhToan__item--1 {
  margin-left: 2%;
}
.ThanhToan__item--2 {
  margin-left: 10%;
}
.ThanhToan__item--3 {
  margin-left: 10%;
}

.ThanhToan__icons svg{
  margin-top: 13px;
}

.ThanhToan__body{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
}
.ThanhToan__body--left,
.ThanhToan__body--right {
  background-color: white;
  font-size: 18px;
  font-weight: normal;
}
.ThanhToan__body--left {
  width: 50%;
  justify-content: center;
  padding-top: 10px;
}
.ThanhToan__icon--edit {
  color: #c4c4c4;
  top: 100px;
  margin-left: 93%;
  margin-bottom: 10px;
}
.ThanhToan__label--flex {
  display: flex;
  margin-left: 5%;
}
.ThanhToan__label {
  width: 35%;
  font-weight: normal;
}
.ThanhToan__label--2,
.ThanhToan__label--8 {
  width: 55%;
}
.ThanhToan__label--2{
  margin-left: -3%;
}
.ThanhToan__label--1{
  margin-left: 5%;
}

.ThanhToan__label--4,
.ThanhToan__label--16,
.ThanhToan__label--22,
.ThanhToan__label--24 {
  color: red;
  font-weight: bold;
}
.ThanhToan__font--size{
  font-size: 12px;
  border-radius: 5px;
}
.ThanhToan__note--1{
  font-size: 15px;
  font-style: italic;
  text-align: center;
}
.ThanhToan__button{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  color: white;
}
.ThanhToan__button--1 {
  background: #f2c806;
  border-radius: 5px;
  height: 40px;
  width: 25%;
  font-size: 20px;
  border: none;
}
.ThanhToan__body--right {
  width: 50%;
  margin-left: 5%;
  padding-top: 40px;
  justify-content: center;
  padding-left: 3%;
}
.ThanhToan__title{
  font-size: 22px;
  color: red;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

.ThanhToan__font--style{
  font-weight: bold;
}
.ThanhToan__line{
  margin-left: -6%;
}
.ThanhToan__note--2 {
  color: red;
  font-style: italic;
  font-size: 15px;
}

@media only screen and (max-width: 600px) {
  .ThanhToan--top {
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
  }
  .ThanhToan__icons svg{
    margin-top: 13px;
    width: 120px;
    height: 6px;
  }
  .ThanhToan__icon{
    padding-top: 7px;
  }
  .ThanhToan__top--circle {
    border-radius: 40px;
    width: 35px;
    height: 35px;
    margin-top: 0px;
    background-color: rgba(18, 201, 47, 1);
  }
  .ThanhToan__top--circle--2 {
    background-color: rgba(196, 196, 196, 1);
    border-radius: 40px;
    width: 35px;
    height: 35px;
    margin-top: 0px;
  }
  .ThanhToan__top--item{
    display: flex;
    justify-content: space-around;
    font-size: 13px;
    line-height: 27px;
    margin-left: -10%;
    margin-top: 0px;
    width: 120%;
  }
  .ThanhToan__top--item1 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .ThanhToan__body{
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10%;
  }
  .ThanhToan__body--left,
  .ThanhToan__body--right {
    font-size: 12px;
  }
  .ThanhToan__body--left {
    width: 90%;
  }
  .ThanhToan__label{
    width: 35%;
  }
  .ThanhToan__label--2,
  .ThanhToan__label--8 {
    width: 55%;
  }
  .ThanhToan__font--size{
    font-size: 9px;
    border-radius: 5px;
  }
  .ThanhToan__note--1{
    font-size: 10px;
  }
  .ThanhToan__button{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ThanhToan__button--1 {
    border-color: rgba(196, 196, 196, 1);
    border-radius: 5px;
    height: 30px;
    width: 25%;
    font-size: 15px;
  }
  .ThanhToan__body--right {
    width: 90%;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 5%;
    padding-bottom: 10px;
    margin-left: 0%;
  }
  .ThanhToan__title{
    font-size: 15px;
    margin-bottom: 10px;
  }
  .ThanhToan__line{
    margin-left: -3%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .ThanhToan__note--2 {
    font-size: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .ThanhToan--top {
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
  }
  .ThanhToan__icons svg{
    justify-content: center;
    margin-top: 13px;
    width: 160px;
    height: 6px;
  }
  .ThanhToan__icon{
    padding-top: 7px;
  }
  .ThanhToan__top--circle {
    border-radius: 40px;
    width: 35px;
    height: 35px;
    margin-top: 0px;
    background-color: rgba(18, 201, 47, 1);
  }
  .ThanhToan__top--circle--2 {
    background-color: rgba(196, 196, 196, 1);
    border-radius: 40px;
    width: 35px;
    height: 35px;
    margin-top: 0px;
  }
  .ThanhToan__top--item{
    display: flex;
    justify-content: space-around;
    width: 120%;
    font-size: 13px;
    line-height: 27px;
    margin-left: -10%;
    margin-top: 0px;
  }
  .ThanhToan__top--item1 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .ThanhToan__body{
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 10%;
  }
  .ThanhToan__body--left,
  .ThanhToan__body--right {
    font-size: 15px;
  }
  .ThanhToan__body--left {
    width: 90%;
  }

  .ThanhToan__label{
    width: 35%;
  }
  .ThanhToan__label--2,
  .ThanhToan__label--8 {
    width: 55%;
  }
  .ThanhToan__font--size{
    font-size: 12px;
    border-radius: 5px;
  }
  .ThanhToan__note--1{
    font-size: 12px;
  }
  .ThanhToan__button{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ThanhToan__button--1 {
    border-color: rgba(196, 196, 196, 1);
    border-radius: 5px;
    height: 30px;
    width: 25%;
    font-size: 15px;
  }
  .ThanhToan__body--right {
    width: 90%;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 5%;
    padding-bottom: 10px;
    margin-left: 0%;
  }
  .ThanhToan__title{
    font-size: 18px;
    margin-bottom: 10px;
  }
  .ThanhToan__line{
    margin-left: -3%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .ThanhToan__note--2 {
    font-size: 12px;
  }
}

@media only screen and (min-width: 768px) {
  .ThanhToan--top {
    font-size: 18px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 70px;
  }
  .ThanhToan__icons svg{
    margin-top: 13px;
    width: 210px;
    height: 6px;
  }
  .ThanhToan__icon{
    padding-top: 7px;
  }
  .ThanhToan__top--circle {
    border-radius: 40px;
    width: 35px;
    height: 35px;
    margin-top: 0px;
    background-color: rgba(18, 201, 47, 1);
  }

  .ThanhToan__top--circle--2 {
    background-color: rgba(196, 196, 196, 1);
    border-radius: 40px;
    width: 35px;
    height: 35px;
    margin-top: 0px;
  }
  .ThanhToan__top--item{
    display: flex;
    justify-content: space-around;
    width: 120%;
    font-size: 13px;
    line-height: 27px;
    margin-left: 10%;
    margin-right: 10%;
    margin-left: -10%;
    margin-top: 0px;
  }
  .ThanhToan__top--item1 {
    font-size: 20px;
  }
  .ThanhToan__body{
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 5%;
  }
  .ThanhToan__body--left,
  .ThanhToan__body--right {
    font-size: 18px;
  }
  .ThanhToan__body--left {
    width: 95%;
    padding-left: 5%;
  }
  /* .ThanhToan__icon--edit{
        margin-left: 93%;
        margin-bottom: 10px;
    } */
  .ThanhToan__label{
    width: 35%;
  }
  .ThanhToan__label--2,
  .ThanhToan__label--8 {
    width: 55%;
  }
  .ThanhToan__font--size{
    font-size: 15px;
    border-radius: 5px;
  }
  .ThanhToan__note--1{
    font-size: 15px;
    margin-left: -5%;
    margin-bottom: 20px;
  }
  .ThanhToan__button{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ThanhToan__button--1 {
    border-color: rgba(196, 196, 196, 1);
    border-radius: 5px;
    height: 40px;
    width: 25%;
    font-size: 20px;
    margin-left: -5%;
  }
  .ThanhToan__body--right {
    width: 95%;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 10%;
    padding-bottom: 20px;
    margin-left: 0%;
  }
  .ThanhToan__title{
    font-size: 22px;
    margin-bottom: 10px;
  }
  .ThanhToan__line{
    margin-left: -11%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .ThanhToan__note--2 {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 992px) {
  .ThanhToan--top {
    font-size: 22px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
  }

  .ThanhToan__icons svg{
    margin-top: 13px;
    width: 265px;
    height: 6px;
  }
  .ThanhToan__icon{
    padding-top: 12px;
  }
  .ThanhToan__top--circle {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    background-color: rgba(18, 201, 47, 1);
  }

  .ThanhToan__top--circle--2 {
    background-color: rgba(196, 196, 196, 1);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-top: -10px;
  }
  .ThanhToan__top--item{
    display: flex;
    justify-content: space-around;
    width: 120%;
    font-size: 20px;
    line-height: 27px;
    margin-left: 10%;
    margin-right: 10%;
    margin-left: -10%;
    margin-top: 10px;
  }
  .ThanhToan__top--item1 {
    font-size: 23px;
    margin-bottom: 30px;
  }
  .ThanhToan__body{
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 5%;
  }
  .ThanhToan__body--left,
  .ThanhToan__body--right {
    font-size: 20px;
  }
  .ThanhToan__body--left {
    width: 95%;
    padding-left: 5%;
  }
  .ThanhToan__icon--edit {
    margin-left: 95%;
    margin-bottom: 10px;
  }
  .ThanhToan__label{
    width: 35%;
  }
  .ThanhToan__label--2,
  .ThanhToan__label--8 {
    width: 55%;
  }
  .ThanhToan__font--size{
    height: 35px;
    font-size: 18px;
    border-radius: 5px;
  }
  .ThanhToan__note--1{
    font-size: 17px;
    margin-left: -5%;
    margin-bottom: 20px;
  }
  .ThanhToan__button{
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .ThanhToan__button--1 {
    border-color: rgba(196, 196, 196, 1);
    border-radius: 5px;
    height: 40px;
    width: 25%;
    font-size: 20px;
    margin-left: -5%;
  }
  .ThanhToan__body--right {
    width: 95%;
    margin-top: 20px;
    padding-top: 20px;
    padding-left: 10%;
    padding-bottom: 20px;
    margin-left: 0%;
  }
  .ThanhToan__title{
    font-size: 22px;
    margin-bottom: 10px;
  }
  .ThanhToan__line{
    margin-left: -11%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .ThanhToan__note--2 {
    font-size: 17px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .ThanhToan--top {
    font-size: 22px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
  }
  .ThanhToan__icons svg{
    margin-top: 13px;
    width: 340px;
    height: 6px;
  }
  .ThanhToan__icon{
    padding-top: 12px;
  }
  .ThanhToan__top--circle {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-top: -10px;
    background-color: rgba(18, 201, 47, 1);
  }

  .ThanhToan__top--circle--2 {
    background-color: rgba(196, 196, 196, 1);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    margin-top: -10px;
  }
  .ThanhToan__top--item{
    display: flex;
    justify-content: space-around;
    width: 120%;
    font-size: 20px;
    line-height: 27px;
    margin-left: 10%;
    margin-right: 10%;
    margin-left: -10%;
    margin-top: 10px;
  }
  .ThanhToan__top--item1 {
    font-size: 23px;
    margin-bottom: 30px;
  }
  .ThanhToan__body{
    flex-direction: row;
  }
  .ThanhToan__body{
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  .ThanhToan__body--left,
  .ThanhToan__body--right {
    font-size: 18px;
  }
  .ThanhToan__body--left {
    width: 50%;
    justify-content: center;
    padding-top: 10px;
    margin-left: -5%;
    padding-left: 0%;
  }
  .ThanhToan__icon--edit {
    margin-left: 93%;
    margin-bottom: 10px;
  }
  .ThanhToan__label--flex {
    display: flex;
    margin-left: 5%;
  }
  .ThanhToan__label{
    width: 35%;
  }
  .ThanhToan__label--2,
  .ThanhToan__label--8 {
    width: 55%;
  }
  .ThanhToan__font--size{
    height: 35px;
    font-size: 12px;
    border-radius: 5px;
  }
  .ThanhToan__note--1{
    font-size: 15px;
    margin-left: 0%;
  }
  .ThanhToan__button{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0%;
  }
  .ThanhToan__button--1 {
    border-color: rgba(196, 196, 196, 1);
    border-radius: 5px;
    height: 40px;
    width: 25%;
    font-size: 20px;
  }
  .ThanhToan__body--right {
    width: 50%;
    padding-top: 30px;
    padding-left: 3%;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-top: 0%;
  }
  .ThanhToan__title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .ThanhToan__line{
    margin-left: -6%;
    margin-top: 20px;
    margin-bottom: 15px;
  }
  .ThanhToan__note--2 {
    font-size: 15px;
    margin-bottom: 10px;
  }
}
