@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Racing+Sans+One&family=Roboto&display=swap");

body,
html {
  margin: 0px;
  padding: 0px;
}
.body__container {
  position: relative;
  width: 80%;
  margin: auto;
  margin-bottom: 150px;
}
h1,
h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
p {
  font-family: "Roboto", sans-serif;
}
.body__icon--edit {
  margin-right: 5px;
}
.body__item--1 {
  width: 90%;
  background: black;
  border-radius: 5px;
  position: relative;
  margin: auto;
  margin-bottom: 50px;
}
.body__item--1 img {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.body__item--2 {
  position: relative;
  margin-top: 24px;
  text-align: center;
}
.body__item--3 {
  text-align: center;
}
.function__container {
  display: flex;
  justify-content: space-around;
}
.function__container div,
.body__cursor {
  cursor: pointer;
}
.fa-2x {
  margin-bottom: 15px;
}
@media only screen and (max-width: 600px) {
  .body__container {
    top: 50px;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 16px;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 16px;
  }
  p {
    font-size: 14px;
    margin-bottom: 16px;
  }
  .body__item--1 {
    height: 70px;
  }
  .body__item--1 img {
    height: 90px;
  }
  .body__container > h2 {
    margin-left: 20px;
  }
}
@media only screen and (min-width: 600px) {
  .body__container {
    top: 70px;
  }
  h1 {
    font-size: 22px;
    margin-bottom: 18px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 18px;
  }
  p {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .body__item--1 {
    height: 80px;
  }
  .body__item--1 img {
    height: 95px;
  }
  .body__container > h2 {
    margin-left: 25px;
  }
}
@media only screen and (min-width: 768px) {
  .body__container {
    top: 80px;
  }
  h1 {
    font-size: 22px;
    margin-bottom: 18px;
  }
  h2 {
    font-size: 20px;
    margin-bottom: 18px;
  }
  p {
    font-size: 16px;
    margin-bottom: 18px;
  }
  .body__item--1 {
    height: 85px;
  }
  .body__item--1 img {
    height: 100px;
  }
  .body__container > h2 {
    margin-left: 30px;
  }
}
@media only screen and (min-width: 992px) {
  .body__container {
    top: 100px;
  }
  h1 {
    font-size: 20px;
    margin-bottom: 24px;
  }
  h2 {
    font-size: 18px;
    margin-bottom: 24px;
  }
  p {
    font-size: 12px;
    margin-bottom: 16px;
  }
  .body__container > h2 {
    margin-left: 40px;
  }
}
@media only screen and (min-width: 1200px) {
  .body__container {
    top: 110px;
  }
  h1 {
    font-size: 28px;
    margin-bottom: 24px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: 24px;
  }
  p {
    font-size: 16px;
    margin-bottom: 16px;
  }
  .body__container > h2 {
    margin-left: 50px;
  }
}
